<p id="notice"><%= notice %></p>

<h1>Listing All Wishlists</h1>

<%= render partial: "shared/wishlist_table", locals: {wishlists: @wishlists } %>

<br>

<%= link_to 'New Wishlist', new_wishlist_path %>
