<div class="jumbotron">
  <h1> wishlister </h1>
  <p> Link to your wishlist to start the process. </p>
</div>

<%= form_tag do %>
  <div class="col-lg-12">
    <div class="input-group">
      <%= text_field_tag :url, nil, class: "form-control", placeholder: "amzn.com/asdas" %>
      <div class="input-group-btn">
        <%= submit_tag "Go", class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end  %>